.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login>img{
    width: 100%;
    scale: 0.4;
}

.login > a{
    width: 200px;
    padding: 20px;
    background-color: #189b46da;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
}